.contain {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    background: #F5F5F5;
}

// 收藏商品
.wdzj {
    width: 100%;
    min-height: 700px;
    height: auto;

    .title {
        width: 72px;
        height: 24px;
        font-weight: bold;
        font-size: 18px;
        color: #333333;
        line-height: 24px;
        margin: 0 0 20px 0;
    }

    .funct {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10px;
    }

    .btn {
        width: 98px;
        height: 34px;
        border-radius: 6px;
        border: 1px solid #E2E3E5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            box-shadow: #cbcece 0px 0px 2px 0px;
        }

        span {
            width: 57px;
            height: 20px;
            font-weight: 400;
            font-size: 14px;
            color: #333333;
            line-height: 20px;
        }
    }

    .content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 20px;
        grid-auto-rows: auto;
    }

    .item {
        width: 255px;
        height: 372px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        border: 1px dashed transparent;
        z-index: 1;

        &:hover {
            border: 1px solid #ff5c02;
        }

        .img-content {
            width: 244px;
            height: 244px;
            overflow: hidden;
            border-radius: 8px;
            position: relative;

            img {
                width: 244px;
                height: 244px;
                object-fit: cover;

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s ease;
                }
            }

            .checkbox {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 9;
            }
        }

        .store_name {
            width: 250px;
            height: 44px;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
            line-height: 22px;
            text-align: left;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            white-space: normal;
            padding-left: 5px;
        }

        .keyword {
            width: 250px;
            height: 19px;
            font-size: 14px;
            color: #FF5C02;
            line-height: 19px;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-indent: 5px;
        }

        .price {
            width: 250px;
            text-indent: 5px;

            span:nth-child(1) {
                width: 9px;
                height: 19px;
                font-size: 14px;
                color: #F83126;
                line-height: 19px;
                text-align: left;
            }

            span:nth-child(2) {
                width: 80px;
                height: 26px;
                font-weight: bold;
                font-size: 20px;
                color: #F83126;
                line-height: 26px;
                text-align: left;
                margin-left: 4px;
            }

            span:nth-child(3) {
                width: 130px;
                height: 19px;
                font-size: 14px;
                color: #999999;
                line-height: 19px;
                text-align: left;
                font-style: normal;
                margin-left: 4px;
            }
        }

    }
}