.active:hover {
    color: $red-color;
    cursor: pointer;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.router-view {
    flex-grow: 1;
    overflow-y: auto;
    // overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 40px);


    // 美化滚动条样式
    // &::-webkit-scrollbar {
    //     width: 6px;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: #ccc;
    //     border-radius: 3px;
    // }

    // &::-webkit-scrollbar-track {
    //     background: #f1f1f1;
    // }

    // 隐藏滚动条
    // &::-webkit-scrollbar {
    //     width: 0;
    //     display: none;
    // }

    // // 兼容Firefox
    // scrollbar-width: none;

    // // 兼容IE
    // -ms-overflow-style: none;
}

.top-bar {
    width: 100%;
    height: 40px;
    line-height: 40px;

    .menu-bar {
        width: 100%;
        height: 100%;
        background: #333;
        display: flex;
        align-items: center;
        justify-content: center;

        .menu-content {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #b0b0b0;

            .menu-title {
                cursor: pointer;
                font-size: 14px;
                margin-left: 3px;
            }

            .menu-items {
                width: 450px;
                height: 19px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 14px;

                    &.hr {
                        font-weight: 100;
                    }

                    &.menu-item {
                        cursor: pointer;
                    }
                }

                :hover {
                    color: $red-color;
                }

                .menu-item {
                    display: flex;
                    align-items: center;

                    img {
                        width: 13px;
                        height: 13px;
                        margin-left: 5px;
                        margin-top: 1px;
                    }
                }

                .con {
                    display: flex;
                    justify-content: space-around;
                    font-size: 14px;
                    color: #333;

                    .order_ctrl {
                        .active {
                            padding: 4px 8px;
                            cursor: pointer;
                            border-radius: 4px;
                        }
                    }


                }
            }
        }
    }
}