.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    overflow-x: hidden;
}

.logo {

    width: 1920px;
    height: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: inherit;

    img {
        width: 131px;
        height: 24px;
        cursor: pointer;
        margin-left: 203px;
    }
}

.oder_info {
    width: 1560px;
    min-height: 1258px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    .address_sales_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .address_info {
            width: 1028px;
            height: 314px;
            background: #FFFFFF;
            border-radius: 12px;

            .address_title {
                width: 108px;
                height: 25px;
                font-weight: bold;
                font-size: 18px;
                color: #333333;
                line-height: 25px;
                margin-top: 20px;
                margin-left: 25px;
            }

            .input_textarea {
                width: 978px;
                height: 64px;
                margin-left: 25px;
                margin-top: 20px;
                border: 1px solid #F8F8F8;
                border-radius: 4px;
                background: #F8F8F8;
                padding: 1px;

                .suffix {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90px;
                    height: 34px;
                    border-radius: 4px;
                    background: #F83126;
                    margin-top: 9px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.9;
                    }

                    span {
                        width: 57px;
                        height: 20px;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        line-height: 20px;
                    }
                }
            }

            .adress_tishi {
                width: 544px;
                height: 20px;
                font-weight: 400;
                font-size: 14px;
                color: #999999;
                line-height: 20px;
                margin-top: 10px;
                margin-left: 25px;
            }

            .form_row {
                padding: 20px;
            }
        }

        .sales_info {
            width: 100%;
            height: 100%;
            flex-grow: 1;
            background: #FFFFFF;
            border-radius: 12px;
        }
    }

    .pay_info {
        width: 502px;
        height: 516px;
        border-radius: 12px;
        background-image: url('../../assets/image/payBg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}