.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #fbfbfc;
}

.top-func {
    width: 1560px;
    height: 124px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .func-img img {
        width: 193px;
        height: 82px;
        cursor: pointer;
    }

    .func-address {
        width: 150px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .address-name {
            width: 140px;
            height: 26px;
            font-size: 20px;
            color: #333333;
            line-height: 26px;
            text-align: center;
            font-style: normal;
            cursor: pointer;

            &:hover {
                color: #131010;
            }
        }

        .address-tab {
            width: 140px;
            height: 19px;
            font-size: 14px;
            color: #999999;
            line-height: 19px;
            text-align: center;
            font-style: normal;
            cursor: pointer;

            &:hover {
                color: #c2b4b4;
            }
        }
    }

    .func-sou {
        width: 782px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .func-sou-input {
            width: 782px;
            height: 50px;
            border: 2px solid #f83126;
            padding: 2px;
            border-radius: 8px;
            color: #FFFFFF;
            position: relative;

            .func-sou-suffix {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 19px;
                position: absolute;
                right: 0px;

                .photo-sou {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 22px;
                        height: 20px;
                        object-fit: cover;
                    }
                }

                .sousuo-btn {
                    width: 86px;
                    height: 42px;
                    background-color: #f83126;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    }

                    span {
                        width: 32px;
                        height: 21px;
                        font-weight: bold;
                        font-size: 16px;
                        color: #FFFFFF;
                        line-height: 21px;
                        text-align: left;
                    }
                }
            }
        }

        .func-sou-type {
            width: 782px;
            height: 20px;

            .hot-type {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;

                span {
                    font-size: 14px;
                    line-height: 19px;
                    color: #999999;
                    cursor: pointer;

                    &:hover {
                        color: #f83126;
                    }

                    &.active {
                        color: #f83126;
                    }
                }
            }
        }
    }

    .func-car {
        width: 140px;
        height: 50px;
        cursor: pointer;
        border: 1px solid #DCDCDC;
        border-radius: 6px;
        position: relative;
        display: flex; // 添加flex布局
        justify-content: center; // 水平居中
        align-items: center; // 垂直居中

        .car-top {
            min-width: 23px;
            height: 16px;
            border-radius: 8px;
            position: absolute;
            background: #E1251B;
            top: -8px; // 向上偏移
            right: -12px; // 向右偏移

            .cart-count {
                color: white;
                font-size: 12px;
                min-width: 16px;
                height: 16px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 4px;
            }
        }

        .car-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            img {
                width: 21px;
                height: 19px;
            }

            .shop-car {
                width: 48px;
                height: 21px;
                font-size: 16px;
                color: #f83126;
                line-height: 21px;
                text-align: left;
                font-style: normal;
            }
        }
    }
}

// 分类
.fenlei {
    width: 1560px;
    min-height: 100px;
    height: auto;
    border-radius: 12px;
    background: #FFFFFF;

    .cate_item {
        width: 1560px;
        min-height: 60px;
        height: auto;
        border-bottom: 1px dashed #EEEEEE;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 34px;

        .main_cate_name {
            width: 64px;
            height: auto;
            min-height: 22px;
            font-weight: bold;
            font-size: 16px;
            color: #333333;
            line-height: 22px;
            margin-left: 21px;
        }

        .cate_item_list {
            height: auto;
            min-height: 68px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px 32px;
            flex-wrap: wrap;
            padding: 18px 0;

            .cate_name_item {
                height: 20px;
                font-weight: 400;
                font-size: 14px;
                color: #333333;
                line-height: 20px;
                cursor: pointer;

                &:hover {
                    color: #f83126;
                }

                &.active {
                    color: #f83126;
                }
            }
        }

    }

    div:last-child {
        border-bottom: none;
    }
}

.shangpin {
    width: 1560px;
    min-height: 1064px;
    height: auto;
    padding: 0 11px;
    background: #FFFFFF;
    border-radius: 12px;

    .shangpin_tabs {
        width: 1560px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sp_tabs_item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 38px;
            cursor: pointer;

            span {
                width: auto;
                height: 22px;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;

                &:hover {
                    color: #f83126;
                }

                &.active {
                    color: #f83126;
                }
            }

            span:nth-child(3) {
                min-width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2px;

                img {
                    width: 10px;
                    height: 10px;
                    object-fit: cover;
                }
            }

            span:nth-child(4) {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;

                div {
                    span {
                        width: 10px;
                        height: 22px;
                        font-size: 14px;
                        color: #bfbfbf;
                        line-height: 22px;
                    }
                }

                div:nth-child(1) {
                    width: 32px;
                    height: 22px;
                }

                div:nth-child(2) {
                    width: 176px;
                    height: 32px;
                    border-radius: 3px;
                    border: 1px solid #E0E0E0;
                }

                div:nth-child(3) {
                    width: 176px;
                    height: 32px;
                    border-radius: 3px;
                    border: 1px solid #E0E0E0;
                }
            }
        }

        .sp_tabs_pagination {
            padding-right: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            span {
                width: auto;
                height: 22px;
                font-weight: 400;
                font-size: 16px;
                color: #F83126;
                line-height: 22px;
            }

            img {
                width: 10px;
                height: 10px;
                object-fit: cover;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .woshiyitiaoxian {
        width: 1534px;
        height: 1px;
        border: 1px solid #EEEEEE;
        padding-left: 11px;
        margin-bottom: 18px;
        margin-top: 6px;
    }

    .q-s-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 20px;
    }

    .q-s-item {
        width: 255px;
        height: 372px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        padding: 1px;

        &:hover {
            border: 1px solid #ff5c02;
        }

        .img-content {
            width: 244px;
            height: 244px;
            overflow: hidden;
            border-radius: 8px;

            img {
                width: 244px;
                height: 244px;
                object-fit: cover;

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s ease;
                }
            }
        }

        .store_name {
            width: 250px;
            height: 44px;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
            line-height: 22px;
            text-align: left;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            white-space: normal;
            padding-left: 5px;
        }

        .keyword {
            width: 250px;
            height: 19px;
            font-size: 14px;
            color: #FF5C02;
            line-height: 19px;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-indent: 5px;
        }

        .price {
            width: 250px;
            text-indent: 5px;

            span:nth-child(1) {
                width: 9px;
                height: 19px;
                font-size: 14px;
                color: #F83126;
                line-height: 19px;
                text-align: left;
            }

            span:nth-child(2) {
                width: 80px;
                height: 26px;
                font-weight: bold;
                font-size: 20px;
                color: #F83126;
                line-height: 26px;
                text-align: left;
                margin-left: 4px;
            }

            span:nth-child(3) {
                width: 130px;
                height: 19px;
                font-size: 14px;
                color: #999999;
                line-height: 19px;
                text-align: left;
                font-style: normal;
                margin-left: 14px;
            }
        }

    }

    .spin-loading {
        text-align: center;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// 切换地址class
.address-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .address-item {
        width: 100px;
        height: 30px;
        background: #f7f7f7;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background: #F83126;
            color: #fff;
        }

        &.active {
            background: #F83126;
            color: #fff;
        }
    }
}

// 店铺列表
.dianpu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 1560px;
    min-height: 500px;
    height: auto;

    .dp_item {
        width: 1560px;
        height: 248px;
        border-radius: 12px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 76px;

        .dp_item_l {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            width: 420px;
            height: 195px;

            img {
                width: 142px;
                height: 142px;
                object-fit: cover;
            }

            .dp_item_img_r {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .real_name {
                    width: 216px;
                    height: 33px;
                    font-weight: 600;
                    font-size: 24px;
                    color: #333333;
                    line-height: 33px;
                }

                .zhuying {
                    width: 80px;
                    height: 21px;
                    font-size: 16px;
                    color: #999999;
                    line-height: 21px;
                    margin-top: 14px;
                }

                .dianpu_salse {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    margin-top: 45px;

                    .sp_jianshu {
                        width: 66px;
                        height: 19px;
                        font-size: 14px;
                        color: #999999;
                        line-height: 19px;
                    }

                    .sp_sales {
                        width: 39px;
                        height: 22px;
                        font-weight: 600;
                        font-size: 16px;
                        color: #F83126;
                        line-height: 22px;
                    }
                }

                .dianpu_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 12px;
                    margin-top: 24px;

                    .btn_1 {
                        width: 90px;
                        height: 34px;
                        border-radius: 6px;
                        border: 1px solid #F7F6F6;
                        background: #F7F6F6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        span {
                            width: 29px;
                            height: 19px;
                            font-size: 14px;
                            color: #333333;
                            line-height: 19px;
                        }
                    }

                    .btn_2 {
                        width: 106px;
                        height: 34px;
                        border-radius: 6px;
                        border: 1px solid #F7F6F6;
                        background: #F7F6F6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        gap: 7px;

                        img {
                            width: 12px;
                            height: 12px;
                            object-fit: cover;
                        }

                        span {
                            width: 57px;
                            height: 19px;
                            font-size: 14px;
                            color: #333333;
                            line-height: 19px;
                        }
                    }
                }
            }
        }

        .dp_item_r {
            width: 1060px;
            height: 195px;
        }
    }
}